@font-face {
    font-family: "Lucida Bright";
    src: url("../fonts/Lucida_Bright/Lucida-Bright-Regular.ttf");
}
.item {
    border-left: 1px solid #623714;
    color: #623714;
}
.item-title {
    font-family: 'Lucida Bright', cursive;
}
.header {
    font-family: 'Lucida Bright', cursive;
    color: #c29a69;
    text-shadow: 1px 1px #623714;
}
.item-price {
    font-family: 'Lucida Bright', cursive;
}
.item-price-title {
    font-weight: bold;
}
.item-description {
    font-family: 'Lucida Bright', cursive;
    font-weight: bold;
    color: #623714;
}
.logo-panel {
    z-index: 10;
    min-width: 100%;
    position: relative;
    float: left;
    left:5px;
    top:5px;
}
.logo-img {
    margin: 20px auto;
    padding: 5px 5px 5px 5px;
    background-color: rgba(52,58,64,0.3);
    border-radius: 3%
}
.container-fluid {
    position: absolute;
}
#slider {
    position:relative;
}
#menu {
    z-index: 10;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #ffffff;
    padding-top: 10px;
}
body {
    margin: 0;
    overflow: hidden;
}